<div class="row">
<div class="about-view">
  <div>
    <h1 class="text-center"><span style="font-size: 50px;">NoteRise</span></h1>
    <br>
    <p class="text-center">Designed and coded by Kyle VanDeRiet.</p>
    <br>
    <div class="center">
      <div class="social">
        <a href="https://github.com/kylevdr"><i class="fa fa-github"></i></a><a href="https://www.linkedin.com/in/kyle-vanderiet-39693193"><i class="fa fa-linkedin-square"></i></a><a href="http://codepen.io/kylevdr/"><i class="fa fa-codepen"></i></a>
      </div>
    </div>
    <!-- <br>
    <ul>
      <li>Created using AngularJS</li>
      <li>There are two views: Notes (Home) and About</li>
      <li>There are two directives: The note list and the editor. The note list has a link function to enable jQuery UI sortable.</li>
    </ul> -->
  </div>
</div>
</div>
