<div class="row">
<div class="about-view">
  <div>
    <h1 class="text-center">NoteRise</h1>
    <br>
    <p class="text-center">Designed and coded by Kyle VanDeRiet</p>
    <br>
    <div class="center">
      <div class="social">
        <i class="fa fa-github"></i><i class="fa fa-linkedin-square"></i><i class="fa fa-codepen"></i>
      </div>
    </div>
    <!-- <br>
    <ul>
      <li>Created using AngularJS</li>
      <li>There are two views: Notes (Home) and About</li>
      <li>There are two directives: The note list and the editor. The note list has a link function to enable jQuery UI sortable.</li>
    </ul> -->
  </div>
</div>
</div>
