<div class="note-list-heading">
    <span style="font-size: 1.3em">NOTES</span>
</div>
<div class="note-list sortable">
    <div class="note-listing" ng-repeat="note in notes | filter : {archived : '!'+true} track by $index" ng-click="setNote(note)">
        <button class="btn btn-danger" ng-click="archiveNote(note)"><i class="fa fa-close"></i></button>
        <p><b>{{note.title}}</b></p>
        <p>Preview: {{note.text | limitTo : 22}}<span ng-if="note.text.length > 22">...</span></p>
        <p><i>Updated: {{note.time | date : "medium"}}</i></p>
    </div>
</div>
<div class="center">
    <button class="btn btn-primary" style="box-shadow: 0 0 10px rgba(0,0,0,.17)" ng-click="createNote()">New Note</button>
</div>
