@import "variables";
@import "mixins";

// * {
//     box-sizing: border-box;
// }

h1 {
  margin: 0;
}

p {
    margin: 0;
}

header {
    background: $header-footer-color;
    color: $accent-color;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    h1 {
      font-family: 'Shadows Into Light', sans-serif;
      font-size: 3em;
      margin: auto;

      a {
        color: $paper-light;
        transition: .2s;

        &:hover, &:focus {
          color: $paper-light;
          text-decoration: none;
        }
      }
    }

    ul {
      font-size: 1.4em;
      font-weight: 300;
      margin: 0 15px 0 0;
      padding: 0;

      li {
        display: inline-block;
        margin-right: 10px;

        a {
          color: $paper-light;
          transition: .2s;

          &:hover, {
            color: $accent-color;
            text-decoration: none;
          }

          &:focus {
            color: #ccc;
            text-decoration: none;
          }
        }
      }
    }
}

footer {
    background: $header-footer-color;
    color: $paper-light;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      color: $paper-light;

      &:hover, &:focus {
        color: $accent-color;
      }
    }
}

.center {
    display: flex;
    justify-content: center;
}

.split-left {
    padding: 15px;
    background: $primary-color;
    background: $split-left-color;
    height: 86vh;
}

.note-list-heading {
    box-sizing: border-box;
    color: $paper-light;
    background: $pink;
    // border: 1px solid #333;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    padding: 3px;
    margin: 15px 10px 0 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .57);
  }

.note-list {
    max-height: 70vh;
    border-radius: 5px;
    overflow: auto;
    /*border: 1px solid #333333;*/
    margin-bottom: 5px;
}

.note-listing {
    box-sizing: border-box;
    padding: 5px;
    background: $paper-light;
    margin: 12px;
    border-radius: 7px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .7);
    transition: background .2s, color .2s, box-shadow .2s;
    position: relative;

    button {
      display: none;
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translate(0, -50%);
    }

    &:hover {
      cursor: pointer;
      background: #444;
      background: $green;
      // color: $paper-light;
      // box-shadow: 0 0 25px rgba(#FFF, .3);

      button {
        display: block;
      }
    }
}

.split-right {
    padding: 9px 15px 15px 15px;
    background: $paper;
    height: 86vh;
    display: flex;
    justify-content: center;
}

.editor {
    margin-top: 20px;
}

.text-input {
    height: 50vh !important;
}

.behind-editor {
    display: flex;
    align-items: center;

    h1 {
      font-size: 50px;
      font-family: 'Shadows Into Light', sans-serif;
    }

    .well {
        background-color: white;
        width: 90%;
    }

}

.about-view {
    height: 86vh;
    background: $paper;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      font-family: 'Shadows Into Light', sans-serif;
    }
}

.social {
  display: flex;
  justify-content: space-between;
  width: 30vw;
  font-size: 50px;
}
